<ion-header translucent="" class="header header-translucent hydrated">
    <ion-toolbar class="hydrated">
        <ion-buttons slot="end" class="hydrated">
            <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-grid class="info-container">
                <ion-row *ngFor="let property of custPropertyArray">
                    <ion-col>
                        {{property.key}}
                    </ion-col>
                    <ion-col>
                        {{property.value}}
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>


