<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Edit model
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="editModelForm">
        <ion-card>
            <ion-card-content>

                <ion-select formControlName="brand" placeholder="Select Brand">
                    <ion-select-option *ngFor="let brand of brandList" value="{{brand}}">{{brand}}</ion-select-option>
                </ion-select>

                <ion-select *ngIf="editModelForm.get('brand').valid" (ionChange)="onEditOptionChange();" formControlName="editOption"
                        placeholder="Select operation">
                    <ion-select-option value="remove">Remove Model</ion-select-option>
                    <ion-select-option value="create">Create Model</ion-select-option>
                </ion-select>

                <ion-select *ngIf="editModelForm.get('editOption').value === 'remove'" formControlName="model" placeholder="Select Model">
                    <ion-item *ngFor="let model of productModelList[editModelForm.get('brand').value]">
                        <ion-select-option value="{{model.name}}">{{model.name}}</ion-select-option>
                    </ion-item>
                </ion-select>

                <ion-item *ngIf="editModelForm.get('editOption').value === 'create'">
                    <ion-input type="text" formControlName="model">New Model:</ion-input>
                </ion-item>

            </ion-card-content>
        </ion-card>
    </form>
    <div text-center>
        <ion-button expand="block" [disabled]="false" (click)="onSave()">Confirm</ion-button>
    </div>

</ion-content>


