<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>by Hemal Gondaliya</ion-card-subtitle>
        <ion-card-title>Welcome to Gayatri Electronics Customer Management</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This application is basically to manage customer detail. You can add customer, and search bustomer by bill-no/name/surname. You can also genetare customer bill (comming soon)</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Up comming feature</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Generate customer bill</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="search"></ion-icon>
        <ion-label>Search for customer (can be filtered by name/bill-no/date)</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Import data from Tally</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="analytics"></ion-icon>
        <ion-label>Cache data offline to use app without internet</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
